# Python bytecode (compiled files)
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Large data files (Optional - only if you have raw CSVs you don't want to upload)
# *.csv
